@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

form {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

fieldset {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

legend {
  font-weight: bold;
}
